.header {
  position: relative;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: rgb(136, 236, 240);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.header h1 {
  display: flex;
  justify-content: flex-start;
}

.header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: auto;
  margin: 1rem;
}

.header a {
  color: rgb(14, 2, 2);
  text-decoration: none;
  margin: 1rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
  margin: 1rem;
}

.header button {
  color: rgb(255, 248, 248);
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(20, 6, 6);
  size: 5rem;
  width: 5rem;
  height: 2rem;
  margin-left: 15rem;
}

.header button:hover,
.header button:active,
.header button.active {
  color: #dee3e9;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #95bcf0;
  width: 5rem;
}
